[submodule "third-party/jellyfin-apiclient-javascript"]
	path = third-party/jellyfin-apiclient-javascript
	url = https://github.com/jellyfin/jellyfin-apiclient-javascript.git
	branch = master
[submodule "third-party/jellyfin-web"]
	path = third-party/jellyfin-web
	url = https://github.com/jellyfin/jellyfin-web.git
	branch = master
[submodule "third-party/dockle"]
	path = third-party/dockle
	url = https://github.com/LizardByte/dockle.git
	branch = master
